.container-modal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-header{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.modal-footer{
    display: flex;
    justify-content: space-evenly;
}

.title-body{
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
}