.container-modal{
    align-items: center;
}

.modal-header{
    flex-direction: column-reverse;
}

#modal-footer{
    display: flex;
    justify-content: space-evenly;
}

.title-request{
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
}

.content-request{
    font-size: large;
    text-align: center;
}

.warning-request{
    padding-top: 3%;
}