.greeting{
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: rgba(0, 24, 55, 0.822);
}

.greeting #text{
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#exit_btn{
    position: absolute;
    right: 0;
    background-color: red;
    border-radius: 30%;
    border: none;
    padding: 0.5%;
    margin-right: 20%;
}