header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

header img {
  width: 70%;
  max-width: 450px;
  height: auto;
}

nav svg {
  cursor: pointer;
}