header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  /* position: fixed;
  background-color: white;
  min-width: 100%;
  z-index: 2; */
}

header img {
  width: 70%;
  max-width: 450px;
  height: auto;
}

nav svg {
  cursor: pointer;
}