#headerHome{
    text-align: center;
    padding: 1.5%;
    background-color: rgba(0, 24, 55, 0.822);
}

#headerHome p{
    color: white;
}

#home-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#filterGroup{
    margin: 0.5%;
    text-align: center;
}