#page404{
    background-color: #448FF2;
    text-align: center;
}

#page404 img{
    padding-top: 10%;
    width: 20%;
}

#text-404{
    color: white;
    padding: 1%;
}

#text-404 p{
    font-size: large;
}