.post-slim {
  background: #fff;
  display: flex;
}

.post-slim img {
  max-width: 40%;
  max-height: 40%;
  margin: auto;
  display: block;
}

.post-slim-content {
  padding: 2%;
  max-width: 60%;
}

.post-slim h2 {
  overflow-wrap: break-word;
}